@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

@layer base {
    html {
      font-family: 'Open Sans', sans-serif;
    }
  }
.h-screen-80{
    height: 80vh;

}

.overflow-show-scroll{
  overflow: auto;
  overflow-x: hidden;
}

.h-screen-10{
    height: 10vh;
}

div::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}

div::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 3px rgba(0, 0, 0, 0.3);
  box-shadow: inset 0 0 3px rgba(0, 0, 0, 0.3);
  background-color: #1d283a;
}

div::-webkit-scrollbar-thumb {
  border-radius: 15px;
  background-color: #1d283a;
  outline: 1px solid #555;
}