@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    font-family: "Mukta", sans-serif;
  }
}

html {
  margin-top: 1vh;
  margin-left: 1vw;
  margin-right: 1vw;
}

div::-webkit-scrollbar {
  width: 7px;
  height: 7px;
}

div::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 3px rgba(0, 0, 0, 0.3);
  box-shadow: inset 0 0 3px rgba(0, 0, 0, 0.3);
  background-color: #1d283a;
}

div::-webkit-scrollbar-thumb {
  border-radius: 15px;
  background-color: rgb(51 65 85 / var(--tw-bg-opacity));
}

input[type="number"] {
  -webkit-appearance: textfield;
  -moz-appearance: textfield;
  appearance: textfield;
}
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
}
